<div class="background">
    <h1>ABOUT HTO</h1>
</div>
<article class="container">
    <section class="col col-lg-6 col-offset-3">
        <blockquote>
            <p>“People who are really serious about software should make their own hardware.”
            </p>
            &mdash; Alan Kay 
        </blockquote>
        <hr>
        <p>HardwareTO is a bi-annual Meetup happening in Toronto for Hardware Startups in Canada. It’s is filled with drinks, shirts, prize and amazing products you get to play with. You also get the chance to hear motivational speech from some of the best hardware startup entrepreneurs.
        </p>

        <hr>
        <p>Questions? <a href="mailto:info@hardwareto.com">Email us</a> or <a href="https://twitter.com/hardwareTO">tweet us</a></p>

    </section>

</article>
