<div class="background">
    <h1>Our Story</h1>
</div>
<article class="container">
    <section class="col col-lg-6 col-offset-3">
        <blockquote>
            <p>“People who are really serious about software should make their own hardware.”
            </p>
            &mdash; Alan Kay 
        </blockquote>
        <hr>
        <p>
        Upverter, Arduinos, 3D printing, laser cutters, and more accessible CNC milling are making hardware easier to prototype. Retailers are less of a bottleneck as customers increasingly buy online. The combination of low cost hardware development platforms along with crowdfunding enable product-market-fit experimentation in a category that has historically been deprived of it. We're in the early days of the hardware revolution. 
        </p>

        <p>
        No matter what happens in the coming years, hardware innovation is changing around us and the ride should be an exciting one. While we're on a path to something big, 3D printing are still expensive for the average person. There are geniuses all accross Canada hoping they can get their hand on an equiment  to build the next big thing. They are intelligent individual, maybe the next Steve Jobs but they just can't afford it. We know that it is a lot easier to pay a small membership fee each month rather than buying the entire thing. So we started HardwareTO to make their life easier and help build products.
        </p>

        <p>HardwareTO is a Membership-based workshop that provides members with access to tools and equipment, instruction, and a community surrounded by hard-working individuals just like you. Its a place where anyone can find the right tool to build their prototype. It's a creative playground where Toronto Hardware Startup community meet to collaborate, share, discuss and engineer new products.
        </p>

        <hr>
        <p>Questions? <a href="mailto:info@hardwareto.com">Email us</a> or <a href="https://twitter.com/hardwareTO">tweet to us</a></p>

    </section>

</article>
