<article id="pricing">

    <section class="container box">
        <header>
            <h1>Workshops and Classes</h1>
            <p class="lead">Attend an event or start one</p>
        </header>

        <div class="col col-lg-6">
            <h4>Next Event</h4>
            <p class="price"><strong>TBA</strong></p>
        </div>

        <div class="col col-lg-6 start">
            <h3>Become A Mentor</h3>
            <a href="/login/google-oauth2/" class="btn btn-primary">Start A Workshop</a><br>
            <p>or <a href="/accounts/signup/">recommomend someone</a></p>
        </div>

    </section>

</article>
