<article id="pricing">

    <section class="container box">
        <header>
            <h1>Mailing List</h1>
            <p class="lead">Subscribe to our mailing and stay up to date! We promise we won't spam you.</p>
        </header>


        <div class="col col-lg-12 start">
        <!-- Begin MailChimp Signup Form -->
        <style type="text/css">
            #mc_embed_signup input.email {
            width: 355px;
            margin-left: 27%;
            }
            input#mc-embedded-subscribe{width: 356px;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="http://richdx.us5.list-manage1.com/subscribe/post?u=47e7679c4c3bf939e72289116&amp;id=ec24eccbfa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL"></label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">
        </form>
        </div>
        <!--End mc_embed_signup-->
        </div>
        
    </section>

</article>
